sudoku-board {
  vertical-align: top;

  div.options {
    margin-bottom:1rem;
  }

  div.left-panel {
      display: inline-block;
      width: 25rem;
      vertical-align: top;
      text-align: center;
      padding-right: 2rem;

      ul {
          list-style: none;

          li {
              width: 100%;
              border: 3px solid transparent;
              padding: .25rem;
          }

          li:hover {
              border: 3px solid rgba(5, 97, 196, 0.5)
          }
      }
  }

  section.main-panel {
      display: inline-block;
      // width: 70%;
  }
}
